@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --text-clr-body: #565973;
    --text-clr-heading: #0B0F19;
    --text-clr-form: #D4D7E5;
    
    --background-clr: #ffffff;
    --backgrodund-clr-hdiw: #F3F6FF;

    --btn-clr-background: #6366F1;
    --btn-clr-background-hover: #3f406d;
    --btn-clr-text: #ffffff;

    --border-clr: #B4B7C9;
    --border-clr-focus: #6f7079;
    
}
html, body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    color: var(--text-clr-body);
    background-color: var(--background-clr);
    font-family: "Manrope", sans-serif;;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
}
a{
    color: var(--link-color);
    text-decoration: none;
    padding: 0;
    margin: 0;

    &:hover{
       text-decoration: underline;
    }
}
h1,h2,h3,h4,h5,h6{
    color: var(--text-clr-heading);
    font-weight: 800;
}
button, .btn{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    color: var(--btn-clr-text);
    background-color: var(--btn-clr-background);
    padding: 9px 20px 9px 20px;
    border-radius: 5px;
    transition: background 0.2s ease-in-out;

    &:hover{
        text-decoration: none;
        background-color: var(--btn-clr-background-hover);
    }
    img{
        width: auto;
        height: 100%;
    }
}
.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
header{
    padding-top: 1rem;

    .header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;

        .actions{
            display: flex;
            gap: 2rem;
    
        }
    }
}
.hero{

    background: #F1F4FD;
    background: linear-gradient(180deg,rgba(241, 244, 253, 0.07)0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.07) 83%);
    
    padding-top: 5rem;

    .hero-area{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        text-align: center;

        @media (width >=768px){
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
            text-align: left;
        }
        .hero-content{
           
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            
           .hero-title{
                font-size: 56px;
                font-weight: 800;
                
           }
           .hero-ingress{
                font-size: 18px;
                font-weight: 400;        
           }
        }
    }
}
img{
    width: 100%;
    height: auto;
}
.app-download-btns{
    display: flex;
    gap: 1rem;
    img{
         width: 180px;
        height: 52px;
    }
}

.brands{
    margin-top: 5rem;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
   ul{
    list-style: none;
    }
    
}
.logo-list{
      
    display: flex;
    justify-content: space-evenly;
    align-items: center;
      img {
        width: 190px;
        height: 100px;
    }
   
}
.features{
    margin-top: 5rem;

    .features-area{
        display: flex;
        gap: 10rem;


        .features-img{
            
            height: 684px;
            width: auto;
            
            img{
                height: 100%;
                width: auto;
            }
            
        }
        .features-content{
            
            
             img{
                height: 60px;
                width: 60px;
             }
             h1{
                color: var(--text-clr-heading);
                margin-bottom: 2rem;
             }
             p{
                color: var(--text-clr-body);
             }
             #app-features-p{
                font-size: 18px;
             }
            
            
        }
        .features-grid{
            margin-top: 5rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
        
            
            
        }
        .features-item{
            display: flex;
            position: relative; 
            align-items: flex-start;
            gap: 2rem;
            height: 120px;
            padding: 2rem;
            line-height: 1.6rem;
            margin-bottom: 2rem;
            
        }
        h2{
            margin-bottom: 1rem;
        }
    }
}


.how-does-it-work-area{
    padding-bottom: 5.5rem;
}
.how-does-it-work{
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin-top: 5.2rem;
    
    background-color: var(--backgrodund-clr-hdiw);
    
    .hdiw-title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        margin-top: 2rem;
    }
    .latest-transaction-history{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 630px;
        text-align: center;
        margin: 0 auto;
        

        h4{
            padding: 2rem;
            font-size: 24px;
        }
    }
    
}
.subscribe{

    .subscribe-area{

        background-color: var(--backgrodund-clr-hdiw);
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5rem;
        padding: 5rem;
        align-items: center;
    
        .subscribe-text{
            display: flex;
            align-items: center;
            font-size: 24px;
            img{
                height: 78px;
                width: auto;
                margin: 1rem;
            }

        }
        .subscribe-form{

            form{
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                position: relative;
                left: 40px;
            }
            .mail-alignment{
                color: var(--border-clr);
                font-size: 2rem;
                position: absolute;
                left: -40px;
                bottom: 11px;
                
            }
            #subscribe-input{
                border: 1px solid var(--border-clr);
                border-radius: 5px 0px 0px 5px;
                padding: 1.1rem;
                flex: 1 ;
                width: 330px;
                color: var(--text-clr-form);

                &:focus{
                    outline: 0;
                    border-color: var(--border-clr-focus) ;
                }
                
            }
            .subscribe-btn{
                
                color: var(--btn-clr-text);
                background-color: var(--btn-clr-background);
                padding: 9px 20px 9px 20px;
                border-radius: 0px 5px 5px 0px;
                width: 142px;
                
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0 5px 5px 0;
                height: 52px;
                background-color: var(--btn-clr-background);
                color: var(--btn-clr-text);
                
                transition: background 0.2s ease-in-out;
                text-decoration: none;
                &:hover{
                    
                    background-color: var(--btn-clr-background-hover);
                }
            }
        }
    }
}